body {
    margin: 0 auto;
    color: #222;
    font-size: 14px;
    font-family: "Helvetica", "Arial", sans-serif;
}
@media screen and (min-width: 800px) { 
  body {
    max-width: 60em;
  }
} 

@media screen and (max-width: 800px) { 
  body {
    margin: 1em;
    max-width: 100%;
  }
}

h1,
h2,
strong {
    color: #000;
}

pre {
    padding: 0.5em;
    background: #eee;
}

a {
    color: #00f
}

.sourceCode {
    overflow-y: hidden;
}
