body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #222;
}

h1,
h2,
strong {
  color: #000;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
    color: #00f
}
