body {
  margin: 0 auto;
  max-width: 52em;
  color: #222;
  font-size: 13px;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2,
strong {
  color: #000;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

a {
    color: #00f
}
